.vs/RainTuner/config/applicationhost.config
.vs/RainTuner/CopilotIndices/17.13.444.19527/CodeChunks.db
.vs/RainTuner/CopilotIndices/17.13.444.19527/CodeChunks.db-shm
.vs/RainTuner/CopilotIndices/17.13.444.19527/CodeChunks.db-wal
.vs/RainTuner/CopilotIndices/17.13.444.19527/SemanticSymbols.db
.vs/RainTuner/CopilotIndices/17.13.444.19527/SemanticSymbols.db-shm
.vs/RainTuner/CopilotIndices/17.13.444.19527/SemanticSymbols.db-wal
.vs/RainTuner/DesignTimeBuild/.dtbcache.v2
.vs/RainTuner/FileContentIndex/0a6ae231-bce8-48c9-8e9e-33989fe4cc5a.vsidx
.vs/RainTuner/FileContentIndex/3e979961-a0cd-443d-8394-c1a0f8b2b6a3.vsidx
.vs/RainTuner/FileContentIndex/7e5f5940-bcb1-4778-9056-bdb7a96dcb84.vsidx
.vs/RainTuner/FileContentIndex/a537f19b-85c1-4d5c-8734-bdda5897365b.vsidx
.vs/RainTuner/FileContentIndex/aa30ca67-0ca7-43d3-90f7-3e22107584b8.vsidx
.vs/RainTuner/v17/.suo
.vs/RainTuner/v17/DocumentLayout.backup.json
.vs/RainTuner/v17/DocumentLayout.json
